Life Console/Service References/GameService/LifeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9001/LifeService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LifeService" />
  <xs:import schemaLocation="http://localhost:9001/LifeService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BLL" />
  <xs:import schemaLocation="http://localhost:9001/LifeService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Life.Initialization" />
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LifeService" minOccurs="0" name="gameImage" nillable="true" type="q1:GameImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BLL" minOccurs="0" name="GetStudentByIdResult" nillable="true" type="q2:SaveService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSave">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BLL" minOccurs="0" name="GetAllSaveResult" nillable="true" type="q3:ArrayOfSaveService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartNewGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Life.Initialization" minOccurs="0" name="newOptions" nillable="true" type="q4:Options" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartNewGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>