Life Console/Service References/GameService/LifeService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LifeService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LifeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GameImage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Iteration" type="xs:int" />
      <xs:element minOccurs="0" name="SaveId" type="xs:int" />
      <xs:element minOccurs="0" name="SizeX" type="xs:int" />
      <xs:element minOccurs="0" name="SizeY" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameImage" nillable="true" type="tns:GameImage" />
</xs:schema>