Life Form/Service References/GameService/LifeService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Life.Initialization" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Life.Initialization" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9001/LifeService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Life.LivingProperty" />
  <xs:complexType name="Options">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Life.LivingProperty" minOccurs="0" name="gameProperty" nillable="true" type="q1:GameProperty" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Life.LivingProperty" minOccurs="0" name="grass1Property" nillable="true" type="q2:Grass1Property" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Life.LivingProperty" minOccurs="0" name="grass2Property" nillable="true" type="q3:Grass2Property" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Life.LivingProperty" minOccurs="0" name="herbivorous1Property" nillable="true" type="q4:Herbivorous1Property" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Options" nillable="true" type="tns:Options" />
</xs:schema>