Life Form/Service References/GameService/LifeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Life.LivingProperty" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Life.LivingProperty" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GameProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="NamePlay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NamePlayer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SizeX" type="xs:int" />
      <xs:element minOccurs="0" name="SizeY" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameProperty" nillable="true" type="tns:GameProperty" />
  <xs:complexType name="Grass1Property">
    <xs:sequence>
      <xs:element minOccurs="0" name="Death" type="xs:int" />
      <xs:element minOccurs="0" name="Reproduction" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Grass1Property" nillable="true" type="tns:Grass1Property" />
  <xs:complexType name="Grass2Property">
    <xs:sequence>
      <xs:element minOccurs="0" name="Course" type="xs:int" />
      <xs:element minOccurs="0" name="Frequency" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Grass2Property" nillable="true" type="tns:Grass2Property" />
  <xs:complexType name="Herbivorous1Property">
    <xs:sequence>
      <xs:element minOccurs="0" name="EnergyBase" type="xs:int" />
      <xs:element minOccurs="0" name="EnergyBaseBegin" type="xs:int" />
      <xs:element minOccurs="0" name="EnergyConsumption" type="xs:int" />
      <xs:element minOccurs="0" name="EnergyGrass" type="xs:int" />
      <xs:element minOccurs="0" name="Grass2Radius" type="xs:int" />
      <xs:element minOccurs="0" name="Speed" type="xs:int" />
      <xs:element minOccurs="0" name="StartRot" type="xs:int" />
      <xs:element minOccurs="0" name="TimeRot" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Herbivorous1Property" nillable="true" type="tns:Herbivorous1Property" />
</xs:schema>